<!doctype html>
<html lang="en">
<head>
    <th:block th:insert="/admin/layout/header.html"></th:block>
</head>
<body>
<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!-- loader END -->
<!-- Wrapper Start -->
<div class="wrapper">
    <!-- Sidebar  -->
    <div class="iq-sidebar">
        <div class="iq-sidebar-logo d-flex justify-content-between">
            <a th:href="@{admin-dashboard}" class="header-logo">
                <img th:src="@{/adm/images/logo.png}" class="img-fluid rounded-normal" alt="">
                <div class="logo-title">
                    <span class="text-primary text-uppercase">BookLand</span>
                </div>
            </a>
            <div class="iq-menu-bt-sidebar">
                <div class="iq-menu-bt align-self-center">
                    <div class="wrapper-menu">
                        <div class="main-circle"><i class="las la-bars"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sidebar-scrollbar">
            <nav class="iq-sidebar-menu">
                <ul id="iq-sidebar-toggle" class="iq-menu">
                    <li class="active active-menu">
                        <a href="#admin" class="iq-waves-effect" data-toggle="collapse" aria-expanded="true"><span
                                class="ripple rippleEffect"></span><i
                                class="las la-home iq-arrow-left"></i><span>Admin</span><i
                                class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul id="admin" class="iq-submenu collapse show" data-parent="#iq-sidebar-toggle">
                            <li><a th:href="@{admin-dashboard}"><i class="las la-house-damage"></i>Dashboard</a>
                            </li>
                            <li><a th:href="@{admin-category}"><i class="ri-list-check-2"></i>Categories</a></li>
                            <li><a th:href="@{admin-books}"><i class="ri-book-2-line"></i>Books</a></li>
                            <li><a th:href="@{admin-users}"><i class="ri-user-line"></i>Users</a></li>
                            <li class="active"><a th:href="@{admin-orders}"><i class="ri-shopping-cart-line"></i>Orders</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div id="sidebar-bottom" class="p-3 position-relative">
                <div class="iq-card">
                    <div class="iq-card-body">
                        <div class="sidebar-bottom-content">
                            <div class="image"><img th:src="@{/adm/images/page-img/side-bkg.png}" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- TOP Nav Bar -->
    <div class="iq-top-navbar">
        <div class="iq-navbar-custom">
            <nav class="navbar navbar-expand-lg navbar-light p-0">
                <div class="iq-menu-bt d-flex align-items-center">
                    <div class="wrapper-menu">
                        <div class="main-circle"><i class="las la-bars"></i></div>
                    </div>
                    <div class="iq-navbar-logo d-flex justify-content-between">
                        <a th:href="@{admin-dashboard}" class="header-logo">
                            <img th:src="@{/adm/images/logo.png}" class="img-fluid rounded-normal" alt="">
                            <div class="logo-title">
                                <span class="text-primary text-uppercase">BookLand</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="navbar-breadcrumb">
                    <h5 class="mb-0">Author</h5>
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{admin-dashboard}">Admin</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Orders</li>
                        </ul>
                    </nav>
                </div>
                <div class="iq-search-bar">
                    <form action="#" class="searchbox">
                        <input type="text" class="text search-input" placeholder="Search Here...">
                        <a class="search-link" href="#"><i class="ri-search-line"></i></a>
                    </form>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-label="Toggle navigation">
                    <i class="ri-menu-3-line"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-list">
                        <li class="nav-item nav-icon search-content">
                            <a href="#" class="search-toggle iq-waves-effect text-gray rounded">
                                <i class="ri-search-line"></i>
                            </a>
                            <form action="#" class="search-box p-0">
                                <input type="text" class="text search-input" placeholder="Type here to search...">
                                <a class="search-link" href="#"><i class="ri-search-line"></i></a>
                            </form>
                        </li>
                        <li class="line-height pt-3">
                            <a href="#" class="search-toggle iq-waves-effect d-flex align-items-center">
                                <img th:src="@{/adm/images/user/1.jpg}" class="img-fluid rounded-circle mr-3"
                                     alt="user">
                                <div class="caption">
                                    <h6 class="mb-1 line-height">Tirtus Dvalin</h6>
                                    <p class="mb-0 text-primary">$20.32</p>
                                </div>
                            </a>
                            <div class="iq-sub-dropdown iq-user-dropdown">
                                <div class="iq-card shadow-none m-0">
                                    <div class="iq-card-body p-0 ">
                                        <div class="bg-primary p-3">
                                            <h5 class="mb-0 text-white line-height">Hello Tirtus Dvalin</h5>
                                            <span class="text-white font-size-12">Available</span>
                                        </div>
                                        <div class="d-inline-block w-100 text-center p-3">
                                            <a class="bg-primary iq-sign-btn" th:href="@{/sign-in}" role="button">Sign
                                                out<i
                                                        class="ri-login-box-line ml-2"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- TOP Nav Bar END -->
    <!-- Page Content  -->
    <div id="content-page" class="content-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">List Orders</h4>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <div class="table-responsive">
                                <table class="data-tables table table-striped table-bordered" style="width:100%">
                                    <thead>
                                    <tr>
                                        <th style="width: 3%;">No</th>
                                        <th style="width: 22%;">Serial Number</th>
                                        <th style="width: 12%;">Full Name</th>
                                        <th style="width: 10%;">Phone Number</th>
                                        <th style="width: 15%;">Address</th>
                                        <th style="width: 11%;">Create Date</th>
                                        <th style="width: 12%;">Total</th>
                                        <th style="width: 8%;">Status</th>
                                        <th style="width: 8%;">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="item, index : ${orders}">
                                        <td th:text="${index.count}"></td>
                                        <td th:text="${item.orderNumber}"></td>
                                        <td th:text="${item.receiveName}"></td>
                                        <td th:text="${item.receivePhone}"></td>
                                        <td th:text="${item.receiveAddress}"></td>
                                        <td th:text="${item.created}"></td>
                                        <td class="w-auto"
                                            th:text="${#numbers.formatDecimal(item.totalPrice, 0, 'COMMA', 0, 'POINT') + ' VND'}"></td>
                                        <td>
                                            <button class="btn"
                                                    th:classappend="${item.status == 0 ? 'btn-secondary' : (item.status == 1 ? 'btn-success' : 'btn-danger')}"
                                            >
                                                <span th:text="${item.status}"></span>
                                            </button>
                                        </td>
                                        <td>
                                            <a class="btn btn-outline-primary"
                                               th:href="@{orders_details/{id}(id=${item.id})}">Details
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Wrapper END -->
<!-- Footer -->
<th:block th:insert="/admin/layout/footer.html"></th:block>
<!-- Footer END -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script th:src="@{/adm/js/jquery.min.js}"></script>
<script th:src="@{/adm/js/popper.min.js}"></script>
<script th:src="@{/adm/js/bootstrap.min.js}"></script>
<script th:src="@{/adm/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/adm/js/dataTables.bootstrap4.min.js}"></script>
<!-- Appear JavaScript -->
<script th:src="@{/adm/js/jquery.appear.js}"></script>
<!-- Countdown JavaScript -->
<script th:src="@{/adm/js/countdown.min.js}"></script>
<!-- Counterup JavaScript -->
<script th:src="@{/adm/js/waypoints.min.js}"></script>
<script th:src="@{/adm/js/jquery.counterup.min.js}"></script>
<!-- Wow JavaScript -->
<script th:src="@{/adm/js/wow.min.js}"></script>
<!-- Apexcharts JavaScript -->
<script th:src="@{/adm/js/apexcharts.js}"></script>
<!-- Slick JavaScript -->
<script th:src="@{/adm/js/slick.min.js}"></script>
<!-- Select2 JavaScript -->
<script th:src="@{/adm/js/select2.min.js}"></script>
<!-- Owl Carousel JavaScript -->
<script th:src="@{/adm/js/owl.carousel.min.js}"></script>
<!-- Magnific Popup JavaScript -->
<script th:src="@{/adm/js/jquery.magnific-popup.min.js}"></script>
<!-- Smooth Scrollbar JavaScript -->
<script th:src="@{/adm/js/smooth-scrollbar.js}"></script>
<!-- lottie JavaScript -->
<script th:src="@{/adm/js/lottie.js}"></script>
<!-- am core JavaScript -->
<script th:src="@{/adm/js/core.js}"></script>
<!-- am charts JavaScript -->
<script th:src="@{/adm/js/charts.js}"></script>
<!-- am animated JavaScript -->
<script th:src="@{/adm/js/animated.js}"></script>
<!-- am kelly JavaScript -->
<script th:src="@{/adm/js/kelly.js}"></script>
<!-- am maps JavaScript -->
<script th:src="@{/adm/js/maps.js}"></script>
<!-- am worldLow JavaScript -->
<script th:src="@{/adm/js/worldLow.js}"></script>
<!-- Raphael-min JavaScript -->
<script th:src="@{/adm/js/raphael-min.js}"></script>
<!-- Morris JavaScript -->
<script th:src="@{/adm/js/morris.js}"></script>
<!-- Morris min JavaScript -->
<script th:src="@{/adm/js/morris.min.js}"></script>
<!-- Flatpicker Js -->
<script th:src="@{/adm/js/flatpickr.js}"></script>
<!-- Style Customizer -->
<script th:src="@{/adm/js/style-customizer.js}"></script>
<!-- Chart Custom JavaScript -->
<script th:src="@{/adm/js/chart-custom.js}"></script>
<!-- Custom JavaScript -->
<script th:src="@{/adm/js/custom.js}"></script>
</body>
</html>