<!-- Footer -->
<footer class="iq-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item"><a th:href="@{/admin/privacy-policy}">Privacy Policy</a></li>
                    <li class="list-inline-item"><a th:href="@{/admin/terms-of-service}">Terms of Use</a></li>
                </ul>
            </div>
            <div class="col-lg-6 text-right">
                Copyright <span id="copyright">
<script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
</span> <a th:href="@{/admin/admin-dashboard}">BookLand</a> All Rights Reserved.
            </div>
        </div>
    </div>
</footer>
<!-- Footer END -->