<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:insert="/home/layout/header.html"></th:block>
</head>

<body>
<div class="page-wraper">
    <th:block th:insert="/home/layout/menu.html"></th:block>
    <div class="page-content bg-grey">
        <section class="content-inner-1">
            <div class="container">
                <div class="row book-grid-row style-4 m-b60">
                    <div class="col">
                        <div class="dz-box">
                            <div class="dz-media">
                                <img th:src="@{|/uploads/${books.images}|}" alt="book">
                            </div>
                            <div class="dz-content">
                                <div class="dz-header">
                                    <h3 class="title" th:text="${books.bookName}"></h3>
                                    <div class="shop-item-rating">
                                        <div class="d-lg-flex d-sm-inline-flex d-flex align-items-center">
                                            <ul class="dz-rating">
                                                <li><i class="flaticon-star text-yellow"></i></li>
                                                <li><i class="flaticon-star text-yellow"></i></li>
                                                <li><i class="flaticon-star text-yellow"></i></li>
                                                <li><i class="flaticon-star text-yellow"></i></li>
                                                <li><i class="flaticon-star text-yellow"></i></li>
                                            </ul>
                                            <h6 class="m-b0">4.5</h6>
                                        </div>
                                        <div class="social-area">
                                            <ul class="dz-social-icon style-3">
                                                <li><a href="https://www.facebook.com/Tirtus7112" target="_blank"><i
                                                        class="fa-brands fa-facebook-f"></i></a></li>
                                                <li><a href="https://www.linkedin.com/in/tirtus7112/" target="_blank"><i
                                                        class="fa-brands fa-linkedin"></i></a></li>
                                                <li><a href="https://www.instagram.com/phamtung_711/" target="_blank"><i
                                                        class="fa-brands fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="dz-body">
                                    <div class="book-detail">
                                        <ul class="book-info">
                                            <li>
                                                <div class="writer-info">
                                                    <div>
                                                        <span>Written by</span>
                                                        <strong th:text="${books.author}"></strong>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <p class="text-2">Every book is a unique world, opening before the reader the doors
                                        of knowledge and imagination. The author skillfully uses language and plot,
                                        combined with creativity, to create an impressive reading experience. Characters
                                        and scenes are vividly described, immersing the reader into the story. From
                                        these pages, we can learn and explore many new things, enriching our minds and
                                        thoughts. Overall, each book is a boundless treasure, waiting to be discovered
                                        and enjoyed.</p>
                                    <div class="book-footer">
                                        <div class="price">
                                            <span>Price: </span>
                                            <h5 style="margin-left: 5px" th:text="${#numbers.formatDecimal(books.price, 0, 'COMMA', 0, 'POINT') + ' VND'}"></h5>
                                        </div>
                                        <form class="product-num" onsubmit="handleSubmit(event)">
                                            <div class="quantity btn-quantity style-1 me-3">
                                                <input class="cart-plus-minus-box"
                                                       th:data-product-id="${books.id}" value="1"
                                                       id="input-quantity"
                                                       type="text" name="demo_vertical2">
                                                <div class="dec qtybutton"></div>
                                                <div class="inc qtybutton"></div>
                                            </div>
                                            <button type="submit" class="btn btn-primary btnhover btnhover2"><i
                                                    class="flaticon-shopping-cart-1"></i>Add to cart
                                            </button>
                                            <div class="bookmark-btn style-1 d-none d-sm-block">
                                                <input class="form-check-input" type="checkbox" id="flexCheckDefault1">
                                                <label class="form-check-label" for="flexCheckDefault1">
                                                    <a th:data-book-id="${books.id}"
                                                       href="javascript:void(0)"
                                                       onclick="handleWishListClick(this.getAttribute('data-book-id'))">
                                                        <i class="flaticon-heart"></i>
                                                    </a>
                                                </label>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-8">
                        <div class="product-description tabs-site-button">
                            <ul class="nav nav-tabs">
                                <li><a data-bs-toggle="tab" href="#graphic-design-1" class="active">Details Product</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="graphic-design-1" class="tab-pane show active">
                                    <table class="table border book-overview">
                                        <tr>
                                            <th>Book Title</th>
                                            <td th:text="${books.bookName}"></td>
                                        </tr>
                                        <tr>
                                            <th>Author</th>
                                            <td th:text="${books.author}"></td>
                                        </tr>
                                        <tr>
                                            <th>Categories</th>
                                            <td th:text="${books.categories.catalogName}"></td>
                                        </tr>
                                        <tr>
                                            <th>Price</th>
                                            <td th:text="${#numbers.formatDecimal(books.price, 0, 'COMMA', 0, 'POINT') + ' VND'}"></td>
                                        </tr>
                                        <tr>
                                            <th>Book Description</th>
                                            <td th:text="${books.description}"></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 mt-5 mt-xl-0">
                        <div class="widget">
                            <h4 class="widget-title">Related Books</h4>
                            <div class="row">
                                <div class="col-xl-12 col-lg-6">
                                    <div class="dz-shop-card style-5">
                                        <div class="dz-media">
                                            <img th:src="@{/assets/images/books/grid/book15.jpg}" alt="">
                                        </div>
                                        <div class="dz-content">
                                            <h5 class="subtitle">Terrible Madness</h5>
                                            <ul class="dz-tags">
                                                <li>THRILLE,</li>
                                                <li>DRAMA,</li>
                                                <li>HORROR</li>
                                            </ul>
                                            <div class="price">
                                                <span class="price-num">$45.4</span>
                                                <del>$98.4</del>
                                            </div>
                                            <a th:href="@{shop-cart}"
                                               class="btn btn-outline-primary btn-sm btnhover btnhover2"><i
                                                    class="flaticon-shopping-cart-1 me-2"></i> Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12 col-lg-6">
                                    <div class="dz-shop-card style-5">
                                        <div class="dz-media">
                                            <img th:src="@{/assets/images/books/grid/book3.jpg}" alt="">
                                        </div>
                                        <div class="dz-content">
                                            <h5 class="subtitle">Battle Drive</h5>
                                            <ul class="dz-tags">
                                                <li>THRILLE,</li>
                                                <li>DRAMA,</li>
                                                <li>HORROR</li>
                                            </ul>
                                            <div class="price">
                                                <span class="price-num">$45.4</span>
                                                <del>$98.4</del>
                                            </div>
                                            <a th:href="@{shop-cart}"
                                               class="btn btn-outline-primary btn-sm btnhover btnhover2"><i
                                                    class="flaticon-shopping-cart-1 me-2"></i> Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12 col-lg-6">
                                    <div class="dz-shop-card style-5 mb-0">
                                        <div class="dz-media">
                                            <img th:src="@{/assets/images/books/grid/book5.jpg}" alt="">
                                        </div>
                                        <div class="dz-content">
                                            <h5 class="subtitle">Terrible Madness</h5>
                                            <ul class="dz-tags">
                                                <li>THRILLE,</li>
                                                <li>DRAMA,</li>
                                                <li>HORROR</li>
                                            </ul>
                                            <div class="price">
                                                <span class="price-num">$45.4</span>
                                                <del>$98.4</del>
                                            </div>
                                            <a th:href="@{shop-cart}"
                                               class="btn btn-outline-primary btn-sm btnhover btnhover2"><i
                                                    class="flaticon-shopping-cart-1 me-2"></i> Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Feature Box -->
        <section class="content-inner">
            <div class="container">
                <div class="row sp15">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                        <div class="icon-bx-wraper style-2 m-b30 text-center">
                            <div class="icon-bx-lg">
                                <i class="fa-solid fa-users icon-cell"></i>
                            </div>
                            <div class="icon-content">
                                <h2 class="dz-title counter m-b0">125,663</h2>
                                <p class="font-20">Happy Customers</p>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-3 col-md-6 col-sm-6 col-6">
                        <div class="icon-bx-wraper style-2 m-b30 text-center">
                            <div class="icon-bx-lg">
                                <i class="fa-solid fa-book icon-cell"></i>
                            </div>
                            <div class="icon-content">
                                <h2 class="dz-title counter m-b0">50,672</h2>
                                <p class="font-20">Book Collections</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                        <div class="icon-bx-wraper style-2 m-b30 text-center">
                            <div class="icon-bx-lg">
                                <i class="fa-solid fa-store icon-cell"></i>
                            </div>
                            <div class="icon-content">
                                <h2 class="dz-title counter m-b0">1,562</h2>
                                <p class="font-20">Our Stores</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                        <div class="icon-bx-wraper style-2 m-b30 text-center">
                            <div class="icon-bx-lg">
                                <i class="fa-solid fa-leaf icon-cell"></i>
                            </div>
                            <div class="icon-content">
                                <h2 class="dz-title counter m-b0">457</h2>
                                <p class="font-20">Famous Writers</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Feature Box End -->
    </div>
    <!-- Footer -->
    <th:block th:insert="/home/layout/footer.html"></th:block>
    <!-- Footer End -->

    <button class="scroltop" type="button"><i class="fas fa-arrow-up"></i></button>
</div>

<!-- JAVASCRIPT FILES ========================================= -->
<script th:src="@{/assets/js/jquery.min.js}"></script><!-- JQUERY MIN JS -->
<script th:src="@{/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js}"></script><!-- BOOTSTRAP MIN JS -->
<script th:src="@{/assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js}"></script>
<!-- BOOTSTRAP SELECT MIN JS -->
<script th:src="@{/assets/vendor/bootstrap-touchspin/bootstrap-touchspin.js}"></script><!-- BOOTSTRAP TOUCHSPIN JS -->
<script th:src="@{/assets/vendor/swiper/swiper-bundle.min.js}"></script><!-- SWIPER JS -->
<script th:src="@{/assets/js/dz.carousel.js}"></script><!-- DZ CAROUSEL JS -->
<script th:src="@{/assets/vendor/counter/waypoints-min.js}"></script><!-- WAYPOINTS JS -->
<script th:src="@{/assets/vendor/counter/counterup.min.js}"></script><!-- COUNTERUP JS -->
<script th:src="@{/assets/js/dz.ajax.js}"></script><!-- AJAX -->
<script th:src="@{/assets/js/custom.js}"></script><!-- CUSTOM JS -->
<script th:src="@{/assets/vendor/wow/wow.min.js}"></script><!-- WOW JS -->
<script>
    $('.cart-plus-minus').append(
        '<div class="dec qtybutton"><i class="fa fa-angle-down"></i></div><div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>'
    );
    $('.qtybutton').on('click', function () {
        var $button = $(this);
        var oldValue = $button.parent().find('input').val();
        if ($button.hasClass('inc')) {
            var newVal = parseFloat(oldValue) + 1;
        } else {
            // Don't allow decrementing below zero
            if (oldValue > 1) {
                var newVal = parseFloat(oldValue) - 1;
            } else {
                newVal = 1;
            }
        }
        $button.parent().find('input').val(newVal);
    });

    function handleSubmit(event) {
        event.preventDefault();
        var input = document.getElementById("input-quantity")
        var bookId = input.getAttribute("data-product-id")
        $.ajax({
            type: "POST",
            url: "/user/add-cart/" + bookId,
            data: {
                quantity: input.value
            },
            success: function (response) {
                console.log(response)
                alert("Đã thêm vào giỏ hàng thành công");
            },
            error: function (error) {
                console.log('Error:', error);
            }
        });
    }
</script>
<script th:inline="javascript">
    function handleWishListClick(bookId) {
        $.ajax({
            type: "GET",
            url: "/user/wishlist/" + bookId,
            success: function (response) {
                console.log(response)
                alert("Đã thêm vào danh sách yêu thích thành công");
            },
            error: function (error) {
                console.log('Error:', error);
            }
        });
    }

    function handleCartClick(bookId) {
        $.ajax({
            type: "GET",
            url: "/user/shop-cart/" + bookId,
            success: function (response) {
                console.log(response)
                alert("Đã thêm vào giỏ hàng thành công");
            },
            error: function (error) {
                console.log('Error:', error);
            }
        });
    }
</script>
</body>
</html>