<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:insert="/home/layout/header.html"></th:block>
</head>
<body>
<div class="page-wraper">
    <th:block th:insert="/home/layout/menu.html"></th:block>

    <div class="page-content">
        <!-- inner page banner -->
        <div class="dz-bnr-inr overlay-secondary-dark dz-bnr-inr-sm"
             style="background-image:url(/assets/images/background/bg3.jpg);">
            <div class="container">
                <div class="dz-bnr-inr-entry">
                    <h1>Wishlist</h1>
                    <nav aria-label="breadcrumb" class="breadcrumb-row">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/index}"> Home</a></li>
                            <li class="breadcrumb-item">Wishlist</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- inner page banner End-->
        <div class="content-inner-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table check-tbl">
                                <thead>
                                <tr>
                                    <th>Images</th>
                                    <th>Book Name</th>
                                    <th>Unit Price</th>
                                    <th>Add to cart</th>
                                    <th>Close</th>
                                </tr>
                                </thead>
                                <tbody th:each="item:${wishlist}">
                                <tr>
                                    <td class="product-item-img"><img th:src="@{|/uploads/${item.book.images}|}" alt="">
                                    </td>
                                    <td class="product-item-name" th:text="${item.book.bookName}"></td>
                                    <td class="product-item-price"
                                        th:text="${#numbers.formatDecimal(item.book.price, 0, 'COMMA', 0, 'POINT') + ' VND'}"></td>
                                    <td class="product-item-totle" th:href="@{shop-cart}"><a
                                            th:data-book-id="${item.book.id}"
                                            href="javascript:void(0)"
                                            onclick="handleCartClick(this.getAttribute('data-book-id'))"
                                            class="btn btn-primary btnhover">Add To Cart</a>
                                    </td>
                                    <td class="product-item-close" style="text-align: left"><a
                                            th:href="@{/user/delete-wishlist/{id}(id=${item.id})}"
                                            class="ti-close"></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <th:block th:insert="/home/layout/footer-light.html"></th:block>
    <!-- Footer End -->

    <button class="scroltop" type="button"><i class="fas fa-arrow-up"></i></button>
</div>

<!-- JAVASCRIPT FILES ========================================= -->
<script th:src="@{/assets/js/jquery.min.js}"></script><!-- JQUERY MIN JS -->
<script th:src="@{/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js}"></script><!-- BOOTSTRAP MIN JS -->
<script th:src="@{/assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js}"></script>
<!-- BOOTSTRAP SELECT MIN JS -->
<script th:src="@{/assets/vendor/bootstrap-touchspin/bootstrap-touchspin.js}"></script><!-- BOOTSTRAP TOUCHSPIN JS -->
<script th:src="@{/assets/vendor/counter/waypoints-min.js}"></script><!-- WAYPOINTS JS -->
<script th:src="@{/assets/vendor/counter/counterup.min.js}"></script><!-- COUNTERUP JS -->
<script th:src="@{/assets/vendor/countdown/counter.js}"></script><!-- COUNTER JS -->
<script th:src="@{/assets/js/dz.carousel.js}"></script><!-- DZ CAROUSEL JS -->
<script th:src="@{/assets/js/dz.ajax.js}"></script><!-- AJAX -->
<script th:src="@{/assets/js/custom.js}"></script><!-- CUSTOM JS -->
<script th:src="@{/assets/vendor/wow/wow.min.js}"></script><!-- WOW JS -->
<script th:inline="javascript">
    function handleCartClick(bookId) {
        $.ajax({
            type: "GET",
            url: "/user/shop-cart/" + bookId,
            success: function (response) {
                console.log(response)
                alert("Đã thêm vào giỏ hàng thành công");
            },
            error: function (error) {
                console.log('Error:', error);
            }
        });
    }
</script>
</body>
</html>